* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* layout */
.container {
  height: 100vh;
  margin: 0 auto;
}

.top-container {
  display: flex;
}

#navbar {
  width: 250px;
  height: calc(100vh - 100px);
  background-color: black;
}

main {
  height: calc(100vh - 100px);
  width: calc(100% - 250px);

  overflow: auto;

  background-color: #141922;
}

.control-bar {
  height: 100px;
  background-color: #282828;
}
/* /layout */


/* premium section */
.premium-upgrade {
  height: 100px;

  display: flex;
  justify-content: flex-end;
  align-items: center;


  background-color: #080b12;
}

.upgrade-btn {
  margin-right: 30px;
  padding: 15px 40px;
  font-weight: 700;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  background-color: transparent;
  color: white;
}
/* /premium section */

/* main */
/* main navbar */

.main-navbar ul {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;

  display: flex;
  justify-content: center;
  gap: 25px;

  color: #797c80;
  list-style-type: none;
  font-weight: 700;
  font-size: 1.2em;
}

.main-navbar ul li:first-of-type {
  border-bottom: 2px solid #adff2f;
}
/* /main navbar */

.recently-played,
.created-for-you,
.popular-artists {
  padding: 0 40px;
}

.section-title {
  margin-bottom: 35px;

  font-size: 2.2em;
  color: white;
}

.section-container {
  display: flex;
  gap: 15px;
}

.section-element {
  width: calc(100% / 6);
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.element-image {
  width: 100%;
}

.element-title {
  padding-top: 10px;
  text-align: center;
  color: white;
}

.element-subtitle {
  color: #797c80;
  font-weight: 700;
  text-align: center;
}

.created-for-you .section-title,
.popular-artists .section-title {
  margin-bottom: 20px;
}

.section-subtitle {
  color: #797c80;
  font-weight: 700;
}

.created-for-you .section-container,
.popular-artists .section-container {
  margin-top: 20px;
}

.section-element .round{
  border-radius: 50%;
}

/* /main */

/* navbar */
.navbar-container {
  /* test */
  /* padding: 20px 70px 20px 20px; */
  /* /test */

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  padding: 20px 70px 20px 20px;
  /* test */
}

.nav-menu-container {
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* border-left: 3px solid #adff2f; */
}

.nav-menu-container.selected {
  border-left: 3px solid #adff2f;
}

.nav-menu-icon {
  max-height: 28px;
  /* test */
}

.nav-menu-text {
  /* font-size: 1.2em; */
  color: #717171;
}

.playlist-section {
  padding-left: 20px;
}

.playlist-section strong:first-child {
  color: white;
  /* font-size: 1.3em; */
}

.playlist-section .nav-menu-container {
  margin-top: 15px;
  padding-left: 0;
}

.playlist-section .fa-plus {
  padding: 10px;

  /* font-size: 2em; */
  background-color: #a3a3a3;
}

.playlist-section ul {
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  /* font-size: 1.2em; */
  font-weight: 700;
  color: #717171;
  list-style-type: none;
}


/* /navbar */

/* navbar bottom */

#navbar {
  position: relative;
}

.navbar-bottom {
  position: absolute;
  bottom: 0;
  padding: 0 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.install-app-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.install-app-section span {
  /* font-size: 1.2em; */
  font-weight: 700;
  color: #717171;
}

.install-app-section img {
  height: 19px;
}

.navbar-bottom hr {
  height: 1px;
  background-color: #717171;
  border: none;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-section .profile-name{
  /* font-size: 1.3em; */
  color: white;
}

.profile-section .profile-image{
  height: 24px;
  width: 24px;
  background-color: #808080;
  border-radius: 50%;

}
/* /navbar bottom */